<div class="wrapper">
    <header>
        <img src="https://www.datocms-assets.com/34127/1600263791-logo.jpg" alt="logo" width="320" />
        <h2>Potwierdzenie nadania zamówienia</h2>
        <span>Zamówienie nr: {{order._id}}</span>
    </header>

    <main>
        <h5>Zamówienie zostało przygotowane oraz wysłane</h5>
        <p>Numer lisu przewozowego: {{mailNum}}</p>
    </main>

    <footer>
        <h4>
            Agencja Promocyjna WENA s.c. Jolanta Łyszkowska-Socha i Tomasz Socha
        </h4>
        <p>Polska, Gdańsk 80-172 Gdańsk ul. Morenowa 11</p>
        <p>Tel: 58 347 94 51</p>
        <p>Fax: 58 348 76 71</p>
        <p>Email <a href="mailto:wena@wena.net.pl">wena@wena.net.pl</a></p>
    </footer>
</div>